<td>

    <md-checkbox *ngIf="!insert"  [disabled]="!restric.restriccions_active"  [(ngModel)]="restric.restriccions_checked"></md-checkbox>
   </td>     
 <td  style="display:flex">

 
    

    
<div style="display:flex" >

 

   <label  *ngIf="insert">Adults: 
       <select [(ngModel)]="restric.restriccions_adults" (change)="changeVal()" [disabled]="!restric.restriccions_active && false"
        class="form-control"> // value is a string or number
        <option *ngFor="let adult of comboAdults" [value]="adult.name"> {{adult.name}}</option>
        </select>
</label>

<label  *ngIf="insert">Nens: 
    <select [(ngModel)]="restric.restriccions_nens" (change)="changeVal()" [disabled]="!restric.restriccions_active && false"
        class="form-control"> // value is a string or number
        <option *ngFor="let nen of comboNens" [value]="nen.name">{{nen.name}}</option>
        </select>
</label>

<label  *ngIf="insert">Cotxets: 
    <select [(ngModel)]="restric.restriccions_cotxets" (change)="changeVal()" [disabled]="!restric.restriccions_active && false"
        class="form-control"> // value is a string or number.val
        <option *ngFor="let cotxet of comboCotxets" [value]="cotxet.name">{{cotxet.name}}</option>
        </select>
</label>
</div>

    <div class="form-group"  *ngIf="!insert">

   <label>
     <md-slide-toggle color="primary"  *ngIf="!insert" [(ngModel)]="restric.restriccions_active"  (change)="changeVal()">
  <span   ></span>
</md-slide-toggle>

    </label>

<md-chip>{{restric.restriccions_adults}}</md-chip>
<label  class="btn btn-default info-adc"><span>{{restric.restriccions_adults}}</span>  <i class="material-icons">people</i></label> 
<label  class="btn btn-default info-adc" [class.zero]="restric.restriccions_nens == 0" ><span>{{restric.restriccions_nens}}  </span><i class="material-icons">child_care</i></label> 
<label  class="btn btn-default info-adc" *ngIf="restric.restriccions_cotxets >0"> <span></span><i  class="material-icons">child_friendly</i></label> 
<!--
<label  class="btn btn-default">{{restric.restriccions_data}} - {{restric.restriccions_datafi}}</label>
-->
<br>
   <button md-raised-button color="primary" *ngIf="!insert" (click)="checkAll(restric);$event.stopPropagation()" class="md-peke" ><md-icon class="md-24">forward</md-icon></button>

        <label *ngFor="let option of combobinHores;let i = index" 
        class="form-control" 
         [class.btn-danger]="!restric.restriccions_hores[i+1]"  
        [class.btn-success]="restric.restriccions_hores[i+1]"  
        [class.disabled]="!restric.restriccions_active" 
        style="padding:3px 3px"
        

        (dblclick) = "func2($event)"
        id="hora-{{i}}"
        
        >
        <input type="checkbox" 
        name="options" value="option"  
        [(ngModel)]="restric.restriccions_hores[i+1]"  
        (change)="changeVal()"  
        /> {{option.name}} 
    </label>

    <button md-raised-button color="accent" *ngIf="!insert" (click)="checkNone(restric);$event.stopPropagation()"  class="md-peke"> <md-icon class="md-24">clear</md-icon></button>
    </div>


</td>



<td *ngIf="false">
    <button md-raised-button color="accent" *ngIf="!insert" (click)="deleteRestriccio(restric);$event.stopPropagation()" class="" ><md-icon class="md-24">delete</md-icon></button>

</td>