h1{
    font-size: 52px;
}


.caixa{
padding:20px;
margin:20px;
background-color: LightCyan;
color: DimGray;

}
.enabled{background-color: #d9edf7;}
.base{background-color:#dff0d8;}
.disabled{background-color: #eee;color:darkgrey}
label.form-control{display:inline !important}


 .mat-dialog-container {
     position:absolute;
     top:-5000px;
     
       display:none !important;   box-shadow: none;     background-color:transparent !important;} 


