 <div>


<nav>
  
<button md-fab md-bottom-right color="primary" class="md-bottom-right" (click)="openDialog()" title="Afegir restricció">
   <md-icon class="xxxmd-24">add</md-icon>
</button>

</nav>







<div><br><br></div>

<md-progress-bar [hidden]="!loading" mode="indeterminate"> </md-progress-bar>
<table class="table  table-bordered">
<thead>
  <tr>
  <th>Actiu</th>
  <th>Id</th>
  <!--<th>Descripció</th>-->
  <th>Data</th>
  <th>Dies</th>
  <th>Adults</th>
  <th>Nens</th>
  <th>Cotxets</th>
  <th>Hora</th>
  </tr>
</thead>
<tbody>
    <tr app-filarestriccio  
    *ngFor="let restriccio of restriccions; let i = index; let even = even; let odd = odd" 
    [restric]="restriccio"
    [ngClass]="{'enabled': restriccio.restriccions_active, 'even':even }"
    [class.disabled]="!restriccio.restriccions_active"
    [class.base]="restriccio.restriccions_data == '2011-01-01'"

    (onDelete)="onDelete($event)"
    (onUpdate)="onUpdate($event)"
    ></tr>
</tbody>
</table>

<a id="insert"></a>

</div>