


{{data | date:'y-M-d'}}

<h2>Test d'hore disponobles amb restriccions</h2>
<table class="table  table-bordered"><thead>
<th>Data</th>
<th>Adults</th>
<th>Nens</th>

<th>Cotxets</th>


</thead>
<tbody>
    <tr>
<td>
<input  *ngIf="restric.restriccions_data != '2011-01-01'"  appDateRangePick
             (selected)="dateSelected($event)"
             [options]="pickerOptions" type="submit"
             class="form-control btn btn-success"
             [(ngModel)]="restric.restriccions_data" 
             placeholder="Data"
             (xxxchange)="changeVal()" 
             />
<!--
  <input [(ngModel)]="restric.restriccions_data"    (xxxchange)="changeVal()" placeholder="Data" class="form-control" ><br>
  -->
  
</td>


<td>

  

   <select [(ngModel)]="restric.restriccions_adults" (xxxchange)="changeVal()" placeholder="Adults"   class="form-control" > // value is a string or number
    <option *ngFor="let adult of comboAdults" [value]="adult.val">{{adult.name}}</option>
</select>
</td>
<td>
  
   <select [(ngModel)]="restric.restriccions_nens" (xxxchange)="changeVal()" placeholder="Nens"   class="form-control" > // value is a string or number
    <option *ngFor="let nen of comboNens" [value]="nen.val">{{nen.name}}</option>
</select>
   
</td>
<td>
    
   <select [(ngModel)]="restric.restriccions_cotxets" (xxxchange)="changeVal()" placeholder="Cotxets"   class="form-control" > // value is a string or number.val
    <option *ngFor="let cotxet of comboCotxets" [value]="cotxet.val">{{cotxet.name}}</option>
</select>
</td>
<td>
<button  (click)="changeVal();$event.stopPropagation()"  class="btn btn-info" >Hores disponbles</button>

</td>


    </tr>

</tbody>
</table>
<ul class="btn-group">

        <li *ngFor="let hora of hores" class="btn btn-primary">{{hora}}</li>

</ul>

<br>
<br>

<hr>
<h3>Regles que hi intervenen</h3>
<div class="well">
<table class=" table  table-bordered ">

        <tr *ngFor="let rule of rules"  class="enabled">
           <td> {{rule.restriccions_id}} </td>
          
            <td>{{rule.restriccions_data}} - {{rule.restriccions_datafi}}</td>
           
            <td>{{rule.restriccions_dies}} </td>
           <td> {{rule.restriccions_adults}} </td>
           <td> {{rule.restriccions_nens}} </td>
           <td> {{rule.restriccions_cotxets}}  </td>
           <td> {{rule.restriccions_hora}} </td>
            
            </tr>

</table>


</div>
<br>
<br>

<hr>
<h3>Query cerca rules actives</h3>
<div id="test-query"  class="well">
{{query}}

    </div>
